body{
    background: #b5b5c9;
    text-align:center;
    /* background:url("clock.png") no repeat fixed; */

    }
/* .border{
    position: absolute;
   
  
    border:solid black 50px;
    border-radius: 50%;
    width:450px;
    height:450px;
    display: inline-block;
    border:10px solid;
    padding:20px; */
    
   
    
.point{
      position: relative;
      left:50%;
        border: solid rgb(240, 178, 64);
        border-radius: 50%;
        width: 20px;
        height:20px;
        top:50%;
        background:black;
        
    }
.circle1{
    display: inline-block;
    border:solid rgb(230, 78, 78) 40px;
    border-radius:50%;
    width:450px;
    height:450px;
    
}
.hour{
    animation:animate 3600s infinite steps(60);
    transform-origin: bottom;
    position: absolute;
    display: inline-block;
    height:190px;
    width:9px;
    background: black;
  
    left:50%;
    border-radius: 30%;
}
.min{
    height:100px;
    width:8px;
    background: black;
    border:3px solid black;  
    position: relative;
    top:0%;  
    bottom: 50%;
    left: 50%;
    border-radius: 40%;
    transform-origin: bottom;
    animation:animate 1600s infinite steps(60);
}
.sec{
    animation:animate 60s infinite steps(60);
    transform-origin: bottom;
    position:absolute;
    height: 220px;
    width: 5px;
    
    left:50%;
    background:black;
    border-radius: 50%;
    
}
@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/* 
.one{
    top:-656px;
    left:105px;
}
.two{
    top:-670px;
    left:120px;
}
.three{
    top:-670px;
    left:
}
.four{
    top:
    left:
}
.five{
    top:
    left:
}
.six{
    top:
    left:
}
.seven{
    top:
    left:
}
.eight{
    top:
    left:
}
.nine{
    top:
    left:
}
.ten{
    top:
    left:
}
.eleven{
    top:
    left:
}
.twelve{
    top:
    left:
} */
