body{
    background-image: linear-gradient(65deg,#131212,#efeff3);
}
.row:nth-child(odd){
    background-color: black;
}
.row:nth-child(odd) .col:nth-child(even){
    background-color: white;
}
.row:nth-child(even){
    background-color: black;
}
.row:nth-child(even) .col:nth-child(odd){
    background-color: white;
}